@value c-black, c-white from './colors.css';
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1rem;
}

label {
  font-size: 1rem;
}

input {
  font-size: 1rem;
  padding: .5em;
  border: .01em solid;
}

button {
  background: c-white;
  padding: .5em 1em;
  border: .01em solid;
  cursor: pointer;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: c-black;
  border-bottom: .01em dashed c-black;
}

a:hover,
a:active {
  text-decoration: none;
  color: c-black;
  border-bottom: .01em solid c-black;
}
