@value c-purple, c-red, c-white, c-orange from 'pick-another-web/styles/colors';

.nav a {
  padding: 1em 0 0;
  display: inline-flex;
  justify-content: center;
}

.gutter {
  padding: 0 .5em 1em;
}
